// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;


// BREAKPOINTS
$mobile: 765;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
:root {
    --primary: #5DBB84;
    --white: #FFFFFF;
    --black: #2F2A21;
}

