

#jobs{
    margin-top: 4rem;
    h2{
        margin-inline: 3rem;
        max-width: 90%;
        color: var(--black);
        font-size: 3rem;
        font-weight: 600;
       border-bottom: 4px solid var(--black);
       @include breakpoint(0, $mobile) {
        font-size: 2rem;
        margin-inline: 1rem;
    }
    }
    .grid{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        @include breakpoint(0, $mobile) {
            grid-template-columns: 1fr 3fr;
        }
    }
    .wrapper-text{
        padding-inline: 2rem;

        p{
            color: var(--primary);
            font-family: "Maven Pro";
            font-size: 1.5rem;
            padding-bottom: 3rem;
        }

        a{
           text-transform: uppercase;
            padding: 0.8rem;
            color: var(--primary);
            font-size: 1.5rem;
            border: 4px solid var(--primary);
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .grid-image{
        width: 100%;
        height: auto;
        object-fit: cover;
        @include breakpoint(0, $mobile) {
            width: 100%;
            height: 100%;
        }
    }
}